<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>{{title}} - Zenithar</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Zenithar</span>
            <form class="d-flex" role="search">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    {{!-- <button class="btn btn-outline-success" type="submit">Search</button> --}}
                </div>  
            </form>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>
    <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>